<!DOCTYPE html>
<html>
<head>
<title>page diff</title>
<meta charset="utf-8">
<style type="text/css">
textarea {
	width: 100%;
	height: 3em;
	resize: 
}
.row {
	display: flex;
}
.col-1 {
	flex-grow: 1;
}
.col-2 {
	flex-grow: 2;
}
.compare {
	text-align: center;
}
</style>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
{% csrf_token %}
<div class="row">
	<div class="col-1">
		<textarea id="url_l" name="url_l">https://www.so.com/s?q=%E5%8C%97%E4%BA%AC%E5%A4%A9%E6%B0%94&src=srp&fr=none&psid=b399f342fc4701cf31c11c5c588d1518</textarea>
	</div>
	<div class="col-1">
		<textarea id="url_r" name="url_r">https://www.so.com/s?ie=utf-8&fr=none&src=360sou_newhome&q=%E9%87%8D%E5%BA%86%E5%A4%A9%E6%B0%94</textarea>
	</div>
</div>
<p class="compare">
	<button id="result_btn">对比</button>
</p>
<p class="result-loading" style="display: none;">
	对比中……
</p>
<div id="result" class="row" style="display: none;">
	<img id="img_l" class="col-1" src="">
	<img id="img_m" class="col-2" src="">
	<img id="img_r" class="col-1" src="">
</div>
<div id="info"></div>
<script>
function getMediaUrl(filename) {
	return 'http://chenyy.moe/media/' + filename;
}
// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function csrfSafeMethod(method) {
	// these HTTP methods do not require CSRF protection
	return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
var csrftoken = getCookie('csrftoken');
$('#result_btn').click(function (){
	var $resultLoading = $('.result-loading');
	var $info = $('#info');
	var $result = $('#result');
	$result.hide();
	$.ajax({
		url: '/page_diff/simple/d/',
		method: 'post',
		data: {
			url_l: $('#url_l').val(),
			url_r: $('#url_r').val(),
		},
		beforeSend: function (xhr, settings) {
			$resultLoading.show();
			if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		},
		complete: function () {
			$resultLoading.hide();
		},
	}).done(function (res) {
		$info.text(JSON.stringify(res));
		$('#img_l').attr('src', getMediaUrl(res.file_name_l));
		$('#img_r').attr('src', getMediaUrl(res.file_name_r));
		$('#img_m').attr('src', getMediaUrl(res.file_name_m));
		$result.show();
	}).fail(function (res) {
		$info.text(JSON.stringify(res));
	});
});
</script>
</body>
</html>